@import '../../styles/colors.scss';

.search-box-wrapper__container {
  min-height: 100vh;
  background-color: $color__gray0;

  .search-box__container {
    background-color: $color__yellow0; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  
    button {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      float: right;
      padding: 10px 15px;
      background: $color__gray0;
      border: none;
      cursor: pointer;
  
      img {
        width: 18px;
      }
    }
  
    .search-box__search-container {
      width: 60%;
      display: flex;
    }
  
    .search-box__input{
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      color: $color__gray1;
      outline: none;
      width: 90%;
      font-size: 18px;
      padding: 10px;
      border: none;
    }
  }

  .content {
    width: 65%;
  }

  .center-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .content-box {
    background-color: white;
  }
}
